#### 기본적인 `for` 루프

In [ ]:
flowers = ['rose', 'tulip', 'lily']
for flower in flowers:
    print(flower)
print("Good job!")

#### 이터러블(Iterable)

In [1]:
flowers = ['rose', 'tulip', 'lily']
my_iter = iter(flowers)
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))

rose
tulip
lily

#### iterable과 iterator를 사용한 for 루프 원리

In [13]:
flowers_iter = flowers.__iter__()
print(type(flowers_iter))

flower = flowers_iter.__next__()
print(flower)
flower = flowers_iter.__next__()
print(flower)

<class 'list_iterator'>
rose
tulip

#### 객체의 내장 메서드 및 속성 목록 보기

In [15]:
print(dir(flowers))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [16]:
print(dir(flowers_iter))

['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__length_hint__', '__lt__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__']

####일을 더 해볼까?

In [18]:
cities = [['Seoul', 13, 9.96], 
          ['London', 11, 9.05], 
          ['Paris', 12, 10.90]]

for city in cities:
    print(city)

['Seoul', 13, 9.96]
['London', 11, 9.05]
['Paris', 12, 10.9]

#### 조금 더

In [22]:
for city in cities:
    print(f"{city[0]}의 연평균기온은 {city[1]}{chr(176)}C 입니다.")
    print(f"           화씨로는 {city[1]*1.8+32: .1f}{chr(176)}F 입니다.")

Seoul의 연평균기온은 13°C 입니다.
           화씨로는  55.4°F 입니다.
London의 연평균기온은 11°C 입니다.
           화씨로는  51.8°F 입니다.
Paris의 연평균기온은 12°C 입니다.
           화씨로는  53.6°F 입니다.

#### `for` 루프 전후에 할 일이 있는 경우

In [ ]:
cities = [['Seoul', 13, 9.96], ['London1', 11, 9.05], ['Paris', 12, 10.90]]
total_temp = 0
total_pop = 0

for city in cities:
    total_temp += city[1]
    total_pop += city[2]

print(f"Average temperature of {len(cities)} cities is {average_temp: .1f}{chr(176)}C.")
print(f"Total of populations for {len(cities)} cities are {total_pop: .1f} millions.")

#### 중첩 `for` 루프와 들여쓰기

In [ ]:
scores = [[4, 5, 14, 8], [3, 12, 3, 9], [11, 7, 19, 1]]
max_score = 0
for grp in scores:
    for s in grp:
        if s > max_score:
            max_score = s
print(max_score)