## datetime
#### date(), timedelta()

In [23]:
import datetime

today= datetime.date.today()
date_met = datetime.date(2025, 3, 1)

diff = today - date_met
print(type(diff))
print(f'그녀를 만난지 {diff.days}일째.')

<class 'datetime.timedelta'>
그녀를 만난지 35일째.

In [32]:
day_100th = date_met + datetime.timedelta(days=100)
print(f'100일 기념일은 {day_100th.year}년 {day_100th.month}월 {day_100th.day}일')

100일 기념일은 2025년 6월 9일

In [33]:
day_100th.weekday()  # 0 가 월요일

0

## time
#### time(), localtime(), asctime(), ctime(), sleep()

In [34]:
import time

print(time.time())  # 1970년 1월 1일 0시 0분 0초부터 지금까지 지난 시간을 초 단위로 반환
print(time.localtime(time.time()))
print(time.asctime(time.localtime(time.time())))
print(time.ctime())  # 현재 시간만 반환

1743813813.7627277
time.struct_time(tm_year=2025, tm_mon=4, tm_mday=5, tm_hour=9, tm_min=43, tm_sec=33, tm_wday=5, tm_yday=95, tm_isdst=0)
Sat Apr  5 09:43:33 2025
Sat Apr  5 09:43:33 2025

In [35]:
for i in range(10):
    print(f'{i}-', end='')
    time.sleep(1)  # 1초

0-1-2-3-4-5-6-7-8-9-

## random
#### random(), randint(), randrange(), choice(), sample()

In [62]:
import random

random.seed(49)
print(random.random())  # 0과 1사이의 float(또는 구간 (0, 1)의 균일분포에서 샘플링)
print(random.randint(1, 100))  # 0과 100 사이의 난수 (1과 100도 가능)
print(random.randrange(10, 50, 3))  # 10과 50 사이의 3씩 증가하는 수들의 난수

0.06688397634275167
53
13

In [53]:
state = random.getstate()
random.setstate(state)

In [64]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(random.choice(data))
print(random.sample(data, len(data)))
print(random.sample(data, 4))

6
[9, 10, 1, 6, 8, 3, 2, 4, 7, 5]
[10, 5, 6, 4]