#### 기본적인 `for` 루프

In [ ]:
flowers = ['rose', 'tulip', 'lily']
for flower in flowers:
    print(flower)
print("Good job!")

#### Iterable

In [1]:
flowers = ['rose', 'tulip', 'lily']
my_iter = iter(flowers)
print(next(my_iter))
print(next(my_iter))
print(next(my_iter))

rose
tulip
lily

#### `for` 루프에서 더 많은 일을 할 수 있다

In [ ]:
cities = [['Seoul', 13, 9.96], 
          ['London', 11, 9.05], 
          ['Paris', 12, 10.90]]

for city in cities:
    print(city)

#### 조금 더

In [ ]:
for city in cities:
    print(f"{city[0]}의 연평균기온은 {city[1]}{chr(176)}C 입니다.")
    print(f"       화씨로는 {city[1]*1.8+32: .1f}{chr(176)}F 입니다.")

#### `for` 루프 앞뒤에서 할 일이 있는 경우

In [ ]:
cities = [['Seoul', 13, 9.96], ['London1', 11, 9.05], ['Paris', 12, 10.90]]
total_temp = 0
total_pop = 0

for city in cities:
    total_temp += city[1]
    total_pop += city[2]

average_temp = total_temp/len(cities)
print(f"Average temperature of {len(cities)} cities is {total_temp/len(cities): .1f}{chr(176)}C.")
print(f"Total of populations for {len(cities)} cities are {total_pop: .1f} millions.")

#### 중첩 `for` 루프와 들여쓰기

In [ ]:
scores = [[4, 5, 14, 8], [3, 12, 3, 9], [11, 7, 19, 1]]
max_score = 0
for grp in scores:
    for s in grp:
        if s > max_score:
            max_score = s
print(max_score)